.gradient-transition {
  height: 50px; /* Adjust height as needed */
  background: #343D24;
  width: 100vw; /* Full viewport width */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  border-bottom-left-radius: 20px; /* Adjust the radius as needed */
  border-bottom-right-radius: 20px; /* Adjust the radius as needed */
}

/* Other existing styles */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.landing-splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  color: #F9F6F0;
  background-image: url('../../assets/images/background.svg'); /* Add the background image */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw; /* Full viewport width */
  margin: 0;
}

.content-wrapper {
  padding: 2rem;
  width: 50%;
  max-width: 1200px;
}


@media only screen and (max-width: 767px) {
  .bccss {
    font-size: 12px;
  }

  .subtitle {
    font-size: 12px;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any overflowing content */
    text-overflow: ellipsis; /* Adds ellipsis (...) to indicate overflow */
  }

  .paradise {
    font-size: 15vw;
  }

  .countdown {
    font-size: 8px;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any overflowing content */
    text-overflow: ellipsis; /* Adds ellipsis (...) to indicate overflow */
  }

  .landing-splash-container {
    background-image: url('../../assets/images/background.svg'); /* Add the background image */
    width: 100vw; /* Full viewport width */
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  .landing-splash-container {
    background-image: url('../../assets/images/background.svg'); /* Add the background image */
    width: 100vw; /* Full viewport width */
    margin: 0;
  }
}

/* New style for .paradise */
.paradise {
  font-family: 'Playfair Display', serif;
  font-weight: 900; /* Black font weight */
  font-style: italic;
  font-size: 10vw; /* Adjust based on viewport width */
}
