@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

/* Centered Container */
.sponsors-container {
    width: 80%; /* Adjust this based on your design requirements */
    max-width: 1200px; /* You can adjust this value based on your design requirements */
    margin: 0 auto;
}

/* Style for the header */
#sponsor-header {
    font-size: 2rem;
    color: #F9F6F0;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
}

/* Container for all the logos */
#sponsor-logos {
    display: flex;
    flex-wrap: wrap; /* This will allow logos to wrap to the next line when needed */
    justify-content: center; /* Center the logos horizontally */
    align-items: center;
    gap: 1rem; /* This gives space between logos */
}

/* Each logo container */
.sponsor-logo-container {
    width: calc(33.33% - 1rem); /* One third of the container's width minus gap */
    display: flex;
    flex-direction: column; /* Stack the image and its name vertically */
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; /* Space at the bottom */
}

.sponsor-logo-container img {
    width: 70%; /* Adjust based on your design preference */
    height: auto;
}

/* Styling for the description */
.description {
    font-size: 1rem;
    margin-top: 2rem;
    text-align: center;
    color: #F9F6F0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* Styling for the email link */
.description a {
    text-decoration: none;
    transition: color 0.3s;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.description a:hover {
    color: #F9F6F0; /* Adjust based on your color scheme */
}

/* Container for all the logos */
#sponsor-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sponsor-names {
    font-size: 30px;
    color: #F9F6F0;
    font-weight: 600;
}

#sponsor-logos .sponsor-logo-container:nth-last-child(2) {
    width: 45%;
}

#sponsor-logos .sponsor-logo-container:last-child {
    width: 45%;
}
